@model IEnumerable<Travel_Content_Management_Editor.Models.TOUR_ORGANIZATION>
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@{
    ViewBag.Title = "Organizations";
}

<h2>Organizations</h2>
<p>
    @Html.ActionLink("Create New", "createOrganization", "Home")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            NAME
        </th>
        <th>
            DESCRIPTION
        </th>
        <th>
            LOCATION
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ORGANIZATION_GUID }) |
                @Html.ActionLink("Select", "Places", "Home") |
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORGANIZATION_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORGANIZATION_DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOCATION)
            </td>
        </tr>
    }
</table>