@model IEnumerable<Travel_Content_Management_Editor.Models.TOUR_PLACE>

@{
    ViewBag.Title = "Places";
}

<h2>Places</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            NAME
        </th>
        <th>
            SUMMARY
        </th>
        <th>
            DESCRIPTION
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PLACE_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PLACE_ID }) |
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLACE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLACE_SUMMARY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLACE_DESC)
        </td>
    </tr>
    }

</table>

<form action="/Form/FormOne" method="post">
    Place ID:<br />
    <input type="number" name="placeId" /><br />
    Google Place Id: <br />
    <input type="text" name="googlePlaceId" /><br />
    Place Name: <br />
    <input type="text" name="placeName" /><br />
    Summary:<br />
    <textarea name="summary" rows="10" cols="100"></textarea><br />
    Place Description:<br />
    <textarea name="placeDescription" rows="10" cols="100"></textarea><br />
    Address: <br />
    <input type="text" name="address" /><br />
    Phone Number: <br />
    <input type="text" name="phoneNumber" /><br />
    Website: <br />
    <input type="text" name="website" /><br />
    Lattitude: <br />
    <input type="number" name="lattitude" /><br />
    Longitude: <br />
    <input type="number" name="longitude" /><br />
    <input type="submit" value="Add Place" />

</form>

