@model IEnumerable<Travel_Content_Management_Editor.Models.TOUR_PLACE>

@{
    ViewBag.Title = "Places";
}

<h2>Places</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            NAME
        </th>
        <th>
            SUMMARY
        </th>
        <th>
            DESCRIPTION
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PLACE_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PLACE_ID }) |
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLACE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLACE_SUMMARY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLACE_DESC)
        </td>
    </tr>
    }

</table>

<div class="container-form">
    <form action="/Form/FormOne" method="post" autocomplete="off">
        <div>
            <span>Place ID</span>
            <input type="number" name="placeId" />
        </div>
        <div>
            <span>Google Place ID</span>
            <input type="text" name="googlePlaceId" />
        </div>
        <div>
            <span>Place Name</span>
            <input type="text" name="placeName" /><br />
        </div>
        <div>
            <span>Summary</span>
            <textarea name="summary" rows="10" cols="100"></textarea>
        </div>
        <div>
            <span>Place Description</span>
            <textarea name="placeDescription" rows="10" cols="100"></textarea>
        </div>
        <div>
            <span>Address</span>
            <input type="text" name="address" />
        </div>
        <div>
            <span>Phone Number</span>
            <input type="text" name="phoneNumber" />
        </div>
        <div>
            <span>Website</span>
            <input type="text" name="website" />
        </div>
        <div>
            <span>Lattitude</span>
            <input type="number" name="lattitude" />
        </div>
        <div>
            <span>Longitude</span>
            <input type="number" name="longitude" />
        </div>
        <div id="submit">
            <input type="submit" value="Add Place" />
        </div>
    </form>
</div>
