@model Travel_Content_Management_Editor.Models.ViewModel

@{
    ViewBag.Title = "Places";
    Guid orgGuid = (Guid)ViewData["selectedGUID"];
}

<h2>Places</h2>

<p>
    @Html.ActionLink("Create New", "createPlace", new { id = orgGuid })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            NAME
        </th>
        <th>
            SUMMARY
        </th>
        <th>
            DESCRIPTION
        </th>
    </tr>

    @foreach (var item in Model.orgToItem)
    {
        if (item.ORGANIZATION_GUID == orgGuid)
        {
            foreach (var place in Model.place)
            {
                if (place.PLACE_GUID == item.ITEM_GUID)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = place.PLACE_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = place.PLACE_ID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => place.PLACE_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => place.PLACE_SUMMARY)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => place.PLACE_DESC)
                        </td>
                    </tr>
                }
            }
        }
    }
</table>


