@model Travel_Content_Management_Editor.Models.ViewModel

@{
    ViewBag.Title = "Tours";
    Guid orgGuid = (Guid)ViewData["selectedGUID"];
}
<!-- Authors: Mike Bastian,
              Ben Rose,
              Erin Loehr
    
    Description: 
-->
<h2>Tours</h2>
<p>@orgGuid</p>

<p>
    @Html.ActionLink("Create New", "createTour", new { id = orgGuid })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Tour Summary
        </th>
    </tr>

    @foreach (var item in Model.orgToItem)
    {
        if (item.ORGANIZATION_GUID == orgGuid)
        {
            foreach (var tor in Model.tour)
            {
                if (tor.TOUR_GUID == item.ITEM_GUID)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = tor.TOUR_ID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => tor.TOUR_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => tor.TOUR_DESC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => tor.TOUR_SUMMARY)
                        </td>
                    </tr>
                }
            }

        }
    }
</table>
<table class="table">
    <tr>
        <th></th>
        <th>
            Name
        </th>
    </tr>

    @foreach (var item in Model.orgToItem)
    {
        if (item.ORGANIZATION_GUID == orgGuid)
        {
            foreach (var place in Model.place)
            {
                if (place.PLACE_GUID == item.ITEM_GUID)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Add Place To Tour", "placeToTour", new { id = orgGuid, pg = place.PLACE_GUID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => place.PLACE_NAME)
                        </td>
                    </tr>
                }
            }
        }
    }
</table>

