@model Travel_Content_Management_Editor.Models.ViewModel

@{
    ViewBag.Title = "Tours";
    Guid orgGuid = (Guid)ViewData["selectedGUID"];
    List<string> relatedPlaces = new List<string>();
    List<string> relatedTours = new List<string>();
}
<!-- Authors: Mike Bastian,
              Ben Rose,
              Erin Loehr

    Description:
-->
<h2>Tours</h2>
<p>@orgGuid</p>

<p>
    @Html.ActionLink("Create New", "createTour", new { id = orgGuid })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
            Tour Places
        </th>
    </tr>

    @foreach (var item in Model.orgToItem)
    {
        if (item.ORGANIZATION_GUID == orgGuid)
        {
            foreach (var tor in Model.tour)
            {
                if (tor.TOUR_GUID == item.ITEM_GUID)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = tor.TOUR_ID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => tor.TOUR_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => tor.TOUR_DESC)
                        </td>
                        <td>
                            @foreach (var place in Model.placeToTours)
                            {
                                if (tor.TOUR_GUID == place.TOUR_GUID)
                                {
                                    foreach (var plac in Model.place)
                                    {
                                        if (place.PLACE_GUID == plac.PLACE_GUID)
                                        {
                                        <td>
                                            @Html.DisplayFor(modelItem => plac.PLACE_NAME)
                                        </td>
                                        }
                                    }
                                }
                            }
                        </td>
                    </tr>

                        }
                    }

                }
            }
</table>

@foreach (var item in Model.orgToItem)
{
    if (item.ORGANIZATION_GUID == orgGuid)
    {
        foreach (var place in Model.place)
        {
            if (place.PLACE_GUID == item.ITEM_GUID)
            {
                relatedPlaces.Add(place.PLACE_NAME);
            }
        }
        foreach (var tor in Model.tour)
        {
            if (tor.TOUR_GUID == item.ITEM_GUID)
            {
                relatedTours.Add(tor.TOUR_NAME);
            }

        }
    }
}
<div class="container-form">
    <form action="/Form/PlaceToTourForm" method="post" autocomplete="off">
        <div>
            <span>Select a Tour</span>
            <select name="tour" id="tour">
                @foreach (var item in relatedTours)
                {
                    <option value=@item>@item</option>
                }
            </select>
        </div>
        <div>
            <span>Select a Place</span>
            <select name="place" required>
                @foreach (var item in relatedPlaces)
                {
                    <option value=@item>@item</option>
                }
            </select>
        </div>
        <div id="submit">
            <input type="submit" value="Add Place" />
        </div>
    </form>
</div>

