@model IEnumerable<Travel_Content_Management_Editor.Models.TOUR>

@{
    ViewBag.Title = "Tours";
}

<h2>Tours</h2>

<p>
    @Html.ActionLink("Create New", "createTour", "home")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Tour Summary
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TOUR_ID }) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOUR_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOUR_DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOUR_SUMMARY)
        </td>
    </tr>
    }
</table>

<h2>Add Place To Tour</h2>
<form action="/Form/PlaceToTourForm" method="post" autocomplete="off">
    Enter a Tour: <br />
    <input type="text" name="tour" /><br />
    Enter a Place to Add: <br />
    <input type="text" name="place" /><br />
    <input type="submit" value="Submit Place to Tour" />
</form>
