@model Travel_Content_Management_Editor.Models.ViewModel

@{
    ViewBag.Title = "Tours";
    Guid orgGuid = (Guid)ViewData["selectedGUID"];
}

<h2>Tours</h2>

<p>
    @Html.ActionLink("Create New", "createTour", new { id = orgGuid })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Tour Summary
        </th>
    </tr>

    @foreach (var item in Model.orgToItem)
    {
        if (item.ORGANIZATION_GUID == orgGuid)
        {
            foreach (var tor in Model.tour)
            {
                if (tor.TOUR_GUID == item.ITEM_GUID)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = tor.TOUR_ID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => tor.TOUR_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => tor.TOUR_DESC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => tor.TOUR_SUMMARY)
                        </td>
                    </tr>
                }
            }
        }
    }
</table>
<h2>Add Place To Tour</h2>

<form action="/Form/PlaceToTourForm" method="post" autocomplete="off">
    <div>
        <span>Tours</span>
        <select name="tourSelection" required>
            @foreach (var tour in Model.tour)
            {
                <option value="tours">tour.TOUR_NAME</option>
            }


        </select>
    </div>
    <input type="submit" value="Submit Place to Tour" />
</form>